<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="dogCatcherApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="dogCatcherApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="dogCatcherApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="dogCatcherApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dog catcher</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controller/mainController.js"></script>
  <script src="scripts/controller/breedController.js"></script>
  <script src="scripts/service/dogSearchService.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</head>
<body>
<div ng-controller="mainController" class="container col-xs-12">
  <h2 class="text-center">Dog Catcher</h2>
  <form class="form-horizontal col-md-8 col-md-offset-2">
    <div class="form-group">
      <div class="col-xs-12">
        <div class="col-xs-9 noLeftPadding">
          <input type="text" id="search-box" ng-model="searchText" ng-keypress="searchMatchingText()" class="form-control" placeholder="Find a breed to catch">
          <ul id="searchSuggestions" class="noPadding">
            <li class="form-control" ng-repeat="breed in matchedBreed track by $index" ng-click="selectMatchedText(breed)">
              {{breed}}
            </li>
          </ul>
        </div>
        <button type="submit" ng-click="showBreed()" class="btn  btn-primary  col-xs-3 leftPadding">Search</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <button ng-click="chooseRandomBreed()" type="submit" class="btn btn-default col-xs-12">+Catch A Random Breed</button>
      </div>
    </div>
  </form>

  <br class="clearfix">

  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <p class="h2 text-center">Caught Breeds</p>
    <button id="clearAll" ng-click="clearAllDogs()" type="submit" class="btn btn-danger pull-right col-xs-2 glyphicon glyphicon-remove">ClearAll</button>
  </div>
  <br>
  <div class="col-md-10 col-md-offset-1">
    <div ui-view></div>
  </div>

</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

</body>
</html>
